/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 15, ../sass/screen.scss */
body {
  font-family: 'Open Sans', serif;
  font-weight: 100; }

/* line 22, ../sass/screen.scss */
h2 {
  font-size: 0.6em;
  margin: 0.2em 0; }

/* line 27, ../sass/screen.scss */
#main {
  max-width: 960px;
  margin: auto; }

/* line 32, ../sass/screen.scss */
.button {
  margin: 1em; }

/* line 34, ../sass/screen.scss */
a {
  color: #7baedc;
  text-decoration: none; }

/* line 35, ../sass/screen.scss */
a:hover {
  color: #93df7d; }

/* line 37, ../sass/screen.scss */
header {
  padding: 0.5em;
  background-color: #fff;
  margin: 0.5em 0; }
  /* line 41, ../sass/screen.scss */
  header div.bg-picker {
    width: 210px;
    margin-right: 1em;
    float: left; }
  /* line 42, ../sass/screen.scss */
  header div.block-picker {
    width: 210px;
    float: left; }
  /* line 43, ../sass/screen.scss */
  header div.bg-sample {
    width: 210px;
    height: 200px;
    float: left; }
  /* line 44, ../sass/screen.scss */
  header div.b-sample {
    width: 201px;
    height: 200px;
    float: left; }

/* line 54, ../sass/screen.scss */
#colors {
  z-index: 0;
  background-color: #a932c7;
  font-size: 0.4em; }

/* line 63, ../sass/screen.scss */
.colorBlock {
  background-color: #3289c7;
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  border: 0px #c6c6c6 solid;
  margin: 10px;
  z-index: 10; }

/* line 89, ../sass/screen.scss */
#colorBlocks0 .colorBlock {
  opacity: 0.1; }

/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(1) {
  background-color: 10; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(2) {
  background-color: 20; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(3) {
  background-color: 30; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(4) {
  background-color: 40; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(5) {
  background-color: 50; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(6) {
  background-color: 60; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(7) {
  background-color: 70; }
/* line 96, ../sass/screen.scss */
#colorBlocks0 div:nth-child(8) {
  background-color: 80; }

/* line 103, ../sass/screen.scss */
#colorBlocks1 .colorBlock {
  opacity: 0.2; }

/* line 109, ../sass/screen.scss */
#colorBlocks2 .colorBlock {
  opacity: 0.3; }

/* line 115, ../sass/screen.scss */
#colorBlocks3 .colorBlock {
  opacity: 0.4; }

/* line 121, ../sass/screen.scss */
#colorBlocks4 .colorBlock {
  opacity: 0.5; }

/* line 127, ../sass/screen.scss */
#colorBlocks5 .colorBlock {
  opacity: 0.6; }

/* line 133, ../sass/screen.scss */
#colorBlocks6 .colorBlock {
  opacity: 0.7; }

/* line 139, ../sass/screen.scss */
#colorBlocks7 .colorBlock {
  opacity: 0.8; }

/* line 145, ../sass/screen.scss */
#colorBlocks8 .colorBlock {
  opacity: 0.9; }

/* line 151, ../sass/screen.scss */
#colorBlocks9 .colorBlock {
  opacity: 1; }

/* line 157, ../sass/screen.scss */
#colorBlocks0 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 164, ../sass/screen.scss */
#colorBlocks1 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 171, ../sass/screen.scss */
#colorBlocks2 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 178, ../sass/screen.scss */
#colorBlocks3 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 185, ../sass/screen.scss */
#colorBlocks4 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 192, ../sass/screen.scss */
#colorBlocks5 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 199, ../sass/screen.scss */
#colorBlocks6 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 206, ../sass/screen.scss */
#colorBlocks7 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 213, ../sass/screen.scss */
#colorBlocks8 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 220, ../sass/screen.scss */
#colorBlocks9 .colorBlock:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

/* line 231, ../sass/screen.scss */
.images {
  position: relative;
  display: block; }

/* line 235, ../sass/screen.scss */
img[src$=".jpg"] {
  border: solid 1px white; }

/* line 238, ../sass/screen.scss */
img[src$=".jpg"]:hover {
  border: solid 1px red; }

/* line 242, ../sass/screen.scss */
.b {
  display: none;
  position: absolute; }

/* line 246, ../sass/screen.scss */
.a {
  position: absolute; }

/* line 249, ../sass/screen.scss */
.a:hover + .b {
  display: block; }

/* line 254, ../sass/screen.scss */
.headingSelector > h1 {
  color: green; }

/* line 258, ../sass/screen.scss */
.headingSelector > div h1 {
  color: blue; }

/* line 262, ../sass/screen.scss */
.headingSelector2 p + h1 {
  color: orange; }

/* line 266, ../sass/screen.scss */
h2:target {
  background-color: yellow; }

/* line 281, ../sass/screen.scss */
.sidebar {
  padding: 1rem;
  background-color: green;
  width: 250px;
  height: 13rem; }
  /* line 287, ../sass/screen.scss */
  .sidebar .sidebarTop {
    height: 5rem;
    background-color: #00b300; }
  /* line 291, ../sass/screen.scss */
  .sidebar .sidebarBottom {
    height: 8rem;
    background-color: #00e600; }

/* line 307, ../sass/screen.scss */
.block1 {
  background-color: green;
  height: 100px;
  width: 200px;
  border: solid 1px black; }

/* line 358, ../sass/screen.scss */
.block8 {
  background-color: rgba(255, 165, 0, 0.5);
  height: 100px;
  width: 200px;
  border: solid 1px black; }
