// Set The Color

$mainColor: blue;

//caculate base colors
$borderColor: mix($mainColor, #cdcdcd);

// mixins

// set up block styles
@mixin block {
    background-color: $mainColor;
    height: 100px;
    width: 100px;
    margin: 10px;
    display: block;
    float: left;
    border: 3px $borderColor solid;
}

// setup mixin to lighten color and set background color
@mixin colorBlocks($backgroundColor: $mainColor, $lighten: 1) {
    background-color: $backgroundColor + $lighten;
}

// set mixin for inverted color on hover
@mixin colorBlocksHover($backgroundColor: $mainColor, $lighten: 1) {
    background-color: invert($backgroundColor) + $lighten;
}

// style the blocks
.colorBlock{
  @include block;
}

// clear float
.colorBlock.first {
    float: none;

}


#colorBlocks1 {
     @for $i from 1 through 8 {
         & div:nth-child(#{$i}) {
             @include colorBlocks($mainColor - 100, $i * 10 );
        }
    }
    @for $i from 1 through 8 {
        & div:nth-child(#{$i}):hover {
            @include colorBlocksHover($mainColor - 100, $i * 10 );
        }
    }
}

#colorBlocks2 {
     @for $i from 1 through 8 {
         & div:nth-child(#{$i}) {
             @include colorBlocks($mainColor - 50, $i * 10 );
        }
    }
    @for $i from 1 through 8 {
        & div:nth-child(#{$i}):hover {
            @include colorBlocksHover($mainColor - 50, $i * 10 );
        }
    }
}


#colorBlocks {
    @for $i from 1 through 8 {
         & div:nth-child(#{$i}) {
             @include colorBlocks($mainColor, $i * 10 );
        }
    }
    @for $i from 1 through 8 {
        & div:nth-child(#{$i}):hover {
            @include colorBlocksHover($mainColor, $i * 10 );
        }
    }
}

#colorBlocks3 {
     @for $i from 1 through 8 {
         & div:nth-child(#{$i}) {
             @include colorBlocks($mainColor + 50, $i * 10 );
        }
    }
    @for $i from 1 through 8 {
        & div:nth-child(#{$i}):hover {
            @include colorBlocksHover($mainColor + 50, $i * 10 );
        }
    }
}

#colorBlocks4 {
     @for $i from 1 through 8 {
         & div:nth-child(#{$i}) {
             @include colorBlocks($mainColor + 100, $i * 10 );
        }
    }
    @for $i from 1 through 8 {
        & div:nth-child(#{$i}):hover {
            @include colorBlocksHover($mainColor + 100, $i * 10 );
        }
    }
}

#colorBlocks5 {
     @for $i from 1 through 8 {
         & div:nth-child(#{$i}) {
             @include colorBlocks($mainColor + 150, $i * 10 );
        }
    }
    @for $i from 1 through 8 {
        & div:nth-child(#{$i}):hover {
            @include colorBlocksHover($mainColor + 150, $i * 10 );
        }
    }
}





